<style>
    /* Footer */
    !import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); section {
        padding: 60px 0;
    }

    section .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    #footer {
        background: #222222 !important;
    }

        #footer h4 {
            padding-left: 10px;
            border-left: 3px solid #eeeeee;
            padding-bottom: 6px;
            margin: 10px 20px;
            color: #337ab7;
            text-align: left;
        }

        #footer a {
            color: #ffffff;
            text-decoration: none !important;
            background-color: transparent;
            -webkit-text-decoration-skip: objects;
        }

        #footer ul.social li {
            padding: 3px 0;
        }

            #footer ul.social li a i {
                margin-right: 5px;
                font-size: 25px;
                -webkit-transition: .5s all ease;
                -moz-transition: .5s all ease;
                transition: .5s all ease;
            }

            #footer ul.social li:hover a i {
                font-size: 30px;
                margin-top: -10px;
            }

            #footer ul.social li a,
            #footer ul.quick-links li a {
                color: #ffffff;
            }

                #footer ul.social li a:hover {
                    color: #eeeeee;
                }

        #footer ul.quick-links li {
            padding: 3px 0;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
            text-align: left;
            margin: 2px 45px;
        }

            #footer ul.quick-links li:hover {
                padding: 3px 0;
                margin-left: 5px;
                font-weight: 700;
            }

            #footer ul.quick-links li a i {
                margin-right: 5px;
            }

            #footer ul.quick-links li:hover a i {
                font-weight: 700;
            }

    body {
        color: #777;
    }
</style>

<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <h4>Pagamento</h4>
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item">
                            <img src="~/Images/icone-pagamento.png" />
                        </li><!--Imagem dos cartões de credito-->
                    </ul>
                    <hr />
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h4>Departamentos</h4>
                    <ul class="list-unstyled quick-links">
                        <li>@Html.ActionLink("Ferramentas", "Index")</li>
                        <li>@Html.ActionLink("Gamer", "Index")</li><!--todos os itens do submenu vão aqui-->
                        <li>@Html.ActionLink("Perifericos", "Index")</li>
                        <li>@Html.ActionLink("Celular", "Index")</li>
                        <li>@Html.ActionLink("Computadores", "Index")</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h4>Minha Conta</h4>
                    <ul class="list-unstyled quick-links">
                        <li>@Html.ActionLink("Meus Pedidos", "Index")</li>
                        <li>@Html.ActionLink("Carrinho", "Index")</li><!--todos os itens do submenu vão aqui-->
                        <li>@Html.ActionLink("Esqueceu a senha?", "Index")</li>
                    </ul>

                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h4>Atendimento</h4>
                    <ul class="list-unstyled quick-links">
                        <li>@Html.ActionLink("Formas de Pagamento", "Index")</li>
                        <li>@Html.ActionLink("Envio e Entrega", "Index")</li><!--todos os itens do submenu vão aqui-->
                        <li>@Html.ActionLink("Pedidos", "Index")</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <h4>FAQ</h4>
                    <ul class="list-unstyled quick-links">
                        <li>@Html.ActionLink("Sobre o E-commerce", "Index")</li>
                        <li>@Html.ActionLink("Políticas", "Index")</li><!--todos os itens do submenu vão aqui-->
                        <li>@Html.ActionLink("Perguntas Frequentes", "Index")</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <hr />
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i>Lnks das Redes Sociais</a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <hr style="color:aqua;" />
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p>National Transaction Corporation is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
                    <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
                </div>
                </hr>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->
